body{
    background: #fff;
    color: #000;
    font-family: "Montserrat", sans-serif;
    padding: 0%;
}

/* Snowflakes start */

.snowflake {
	 --size: 1vw;
	 width: var(--size);
	 height: var(--size);
	 background: white;
	 border-radius: 50%;
	 position: absolute;
	 top: -5vh;
}
 @keyframes snowfall {
	 0% {
		 transform: translate3d(var(--left-ini), 0, 0);
	}
	 100% {
		 transform: translate3d(var(--left-end), 110vh, 0);
	}
}
 .snowflake:nth-child(1) {
	 --size: 0.6vw;
	 --left-ini: -7vw;
	 --left-end: -5vw;
	 left: 81vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(2) {
	 --size: 1vw;
	 --left-ini: -2vw;
	 --left-end: -6vw;
	 left: 11vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(3) {
	 --size: 0.2vw;
	 --left-ini: 9vw;
	 --left-end: -2vw;
	 left: 80vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(4) {
	 --size: 0.4vw;
	 --left-ini: -4vw;
	 --left-end: -3vw;
	 left: 86vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -1s;
}
 .snowflake:nth-child(5) {
	 --size: 0.4vw;
	 --left-ini: 10vw;
	 --left-end: 6vw;
	 left: 12vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(6) {
	 --size: 0.4vw;
	 --left-ini: 6vw;
	 --left-end: -3vw;
	 left: 96vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(7) {
	 --size: 0.6vw;
	 --left-ini: -7vw;
	 --left-end: 6vw;
	 left: 15vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(8) {
	 --size: 1vw;
	 --left-ini: -3vw;
	 --left-end: 0vw;
	 left: 20vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(9) {
	 --size: 0.2vw;
	 --left-ini: 2vw;
	 --left-end: 5vw;
	 left: 26vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(10) {
	 --size: 0.2vw;
	 --left-ini: -8vw;
	 --left-end: 7vw;
	 left: 69vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(11) {
	 --size: 0.8vw;
	 --left-ini: -7vw;
	 --left-end: 2vw;
	 left: 49vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(12) {
	 --size: 0.6vw;
	 --left-ini: -6vw;
	 --left-end: -8vw;
	 left: 7vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -4s;
}
 .snowflake:nth-child(13) {
	 --size: 0.6vw;
	 --left-ini: -6vw;
	 --left-end: 8vw;
	 left: 49vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(14) {
	 --size: 0.8vw;
	 --left-ini: -1vw;
	 --left-end: -4vw;
	 left: 13vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(15) {
	 --size: 0.2vw;
	 --left-ini: 5vw;
	 --left-end: -4vw;
	 left: 5vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(16) {
	 --size: 1vw;
	 --left-ini: 0vw;
	 --left-end: 9vw;
	 left: 71vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(17) {
	 --size: 1vw;
	 --left-ini: -7vw;
	 --left-end: -7vw;
	 left: 41vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(18) {
	 --size: 1vw;
	 --left-ini: -8vw;
	 --left-end: -8vw;
	 left: 95vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(19) {
	 --size: 0.2vw;
	 --left-ini: 6vw;
	 --left-end: -2vw;
	 left: 12vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(20) {
	 --size: 0.4vw;
	 --left-ini: 7vw;
	 --left-end: 6vw;
	 left: 23vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -4s;
}
 .snowflake:nth-child(21) {
	 --size: 0.2vw;
	 --left-ini: 2vw;
	 --left-end: -3vw;
	 left: 56vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -9s;
}
 .snowflake:nth-child(22) {
	 --size: 0.4vw;
	 --left-ini: 10vw;
	 --left-end: -2vw;
	 left: 32vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(23) {
	 --size: 0.4vw;
	 --left-ini: 3vw;
	 --left-end: 1vw;
	 left: 16vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(24) {
	 --size: 0.2vw;
	 --left-ini: 5vw;
	 --left-end: 1vw;
	 left: 24vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(25) {
	 --size: 0.2vw;
	 --left-ini: -4vw;
	 --left-end: -3vw;
	 left: 94vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(26) {
	 --size: 0.6vw;
	 --left-ini: 7vw;
	 --left-end: 7vw;
	 left: 97vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(27) {
	 --size: 0.8vw;
	 --left-ini: -4vw;
	 --left-end: -7vw;
	 left: 80vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -4s;
}
 .snowflake:nth-child(28) {
	 --size: 0.4vw;
	 --left-ini: -6vw;
	 --left-end: 0vw;
	 left: 13vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(29) {
	 --size: 0.4vw;
	 --left-ini: 6vw;
	 --left-end: 3vw;
	 left: 45vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -9s;
}
 .snowflake:nth-child(30) {
	 --size: 0.2vw;
	 --left-ini: 4vw;
	 --left-end: -2vw;
	 left: 1vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(31) {
	 --size: 1vw;
	 --left-ini: -4vw;
	 --left-end: -1vw;
	 left: 59vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -4s;
}
 .snowflake:nth-child(32) {
	 --size: 0.2vw;
	 --left-ini: -8vw;
	 --left-end: 4vw;
	 left: 96vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(33) {
	 --size: 0.4vw;
	 --left-ini: -7vw;
	 --left-end: -2vw;
	 left: 59vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(34) {
	 --size: 0.4vw;
	 --left-ini: 2vw;
	 --left-end: 3vw;
	 left: 9vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(35) {
	 --size: 1vw;
	 --left-ini: 0vw;
	 --left-end: 6vw;
	 left: 13vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(36) {
	 --size: 0.2vw;
	 --left-ini: -3vw;
	 --left-end: -9vw;
	 left: 27vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(37) {
	 --size: 0.4vw;
	 --left-ini: -7vw;
	 --left-end: -6vw;
	 left: 44vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(38) {
	 --size: 0.4vw;
	 --left-ini: 8vw;
	 --left-end: -8vw;
	 left: 22vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -4s;
}
 .snowflake:nth-child(39) {
	 --size: 0.8vw;
	 --left-ini: -5vw;
	 --left-end: 6vw;
	 left: 1vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(40) {
	 --size: 0.8vw;
	 --left-ini: 10vw;
	 --left-end: 3vw;
	 left: 22vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(41) {
	 --size: 0.6vw;
	 --left-ini: 0vw;
	 --left-end: 4vw;
	 left: 60vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(42) {
	 --size: 0.6vw;
	 --left-ini: 3vw;
	 --left-end: -5vw;
	 left: 28vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -9s;
}
 .snowflake:nth-child(43) {
	 --size: 1vw;
	 --left-ini: 8vw;
	 --left-end: 7vw;
	 left: 46vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -9s;
}
 .snowflake:nth-child(44) {
	 --size: 0.4vw;
	 --left-ini: -5vw;
	 --left-end: -1vw;
	 left: 44vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(45) {
	 --size: 0.6vw;
	 --left-ini: -7vw;
	 --left-end: 4vw;
	 left: 55vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(46) {
	 --size: 0.4vw;
	 --left-ini: -1vw;
	 --left-end: -4vw;
	 left: 69vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(47) {
	 --size: 0.6vw;
	 --left-ini: 0vw;
	 --left-end: 2vw;
	 left: 39vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(48) {
	 --size: 0.8vw;
	 --left-ini: 1vw;
	 --left-end: 5vw;
	 left: 39vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -4s;
}
 .snowflake:nth-child(49) {
	 --size: 0.8vw;
	 --left-ini: 3vw;
	 --left-end: -6vw;
	 left: 44vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(50) {
	 --size: 0.4vw;
	 --left-ini: 6vw;
	 --left-end: 2vw;
	 left: 15vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(6n) {
	 filter: blur(1px);
}
 

/* Snowflakes end */

nav {
  font-size: 35px;
  user-select: none;
}

.box {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  user-select: none;
}

.specialbox {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  user-select: none;
  width: 110px;
  margin-top: 5px;
}

.box:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #000;
  border-color: #000;
  border-style: solid;
  border-width: 2px;
  user-select: none;
}

hr {
  border-style: solid;
}

a {
  text-decoration: none;
  color: #000;
}

div.scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}

#page:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Google Programmable Search Engine */

.gsc-control-cse {
  font-family: "Montserrat", sans-serif !important;
  width: 75% !important;
  margin: auto !important;
  background-color: #fff !important;
  border-color: #fff !important;
}

.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
  background-color: #fff !important;
  border-color: #fff !important;
}

.gsc-control-cse .gsc-table-result {
  font-family: "Montserrat", sans-serif !important;
}

.gsc-above-wrapper-area {
  border-bottom: 0px !important;
}

.gcsc-find-more-on-google {
  color: #000 !important;
}

.gsc-result-info {
  color: #000 !important;
}

.gsc-orderby-label {
  color: #000 !important;
}

.gcsc-find-more-on-google-magnifier {
  fill: #000 !important;
}

.gs-webResult div.gs-visibleUrl {
  color: #000 !important;
}

.gs-webResult .gs-snippet, .gs-fileFormatType {
  color: #000 !important;
}

.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: #000 !important;
}

.gs-result .gs-image, .gs-result .gs-promotion-image {
  border: 0px !important;
}

/* Scroll bar */

::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: ; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: ; 
}

/* Themes */ 

.themes {
  border: none;
  background-color: inherit;
}

.light {
  background: #fff; 
  color: #292c33; 

.color-a {
    color: #f69904;
}

.color-b {
    color: #9912ff;
}
  
  a {
    color: #292c33;  
  }
  
  input {
    background: #fff;
    color: #292c33;
    border-color: #292c33;
  }
  
  button {
    background: #fff;
    color: #292c33;
    border-color: #292c33;
  }
  
  hr {
    color: #292c33;
  }
  
  .gsc-control-cse {
    font-family: "Montserrat", sans-serif !important;
    background-color: #fff !important;
    border-color: #fff !important;
  }

  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: #fff !important;
    border-color: #fff !important;
  }
  
  .gcsc-find-more-on-google {
    color: #292c33 !important;
  }

  .gsc-result-info {
    color: #292c33 !important;
  }

  .gsc-orderby-label {
    color: #292c33 !important;
  }

  .gcsc-find-more-on-google-magnifier {
    fill: #292c33 !important;
  }

  .gs-webResult div.gs-visibleUrl {
    color: #292c33 !important;
  }

  .gs-webResult .gs-snippet, .gs-fileFormatType {
    color: #292c33 !important;
  }

  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #292c33 !important;
  }
}

.dark {
  background: #292c33;
  color: #c7c7c7;
  
.color-a {
    color: #c7c7c7;
}

.color-b {
    color: #c7c7c7;
}
  
  a {
    color: #c7c7c7;
  }
  
  input {
    background: #292c33;
    color: #c7c7c7;
    border-color: #c7c7c7;
  }
  
  button {
    background: #292c33;
    color: #c7c7c7;
    border-color: #c7c7c7;
  }
  
  hr {
    color: #c7c7c7;
  }
  
  .gsc-control-cse {
    font-family: "Montserrat", sans-serif !important;
    background-color: #292c33 !important;
    border-color: #292c33 !important;
  }

  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: #292c33 !important;
    border-color: #292c33 !important;
  }

  .gcsc-find-more-on-google {
    color: #c7c7c7 !important;
  }

  .gsc-result-info {
    color: #c7c7c7 !important;
  }

  .gsc-orderby-label {
    color: #c7c7c7 !important;
  }

  .gcsc-find-more-on-google-magnifier {
    fill: #c7c7c7 !important;
  }

  .gs-webResult div.gs-visibleUrl {
    color: #c7c7c7 !important;
  }

  .gs-webResult .gs-snippet, .gs-fileFormatType {
    color: #c7c7c7 !important;
  }

  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #c7c7c7 !important;
  }
}

.mint {  
  background: #a5baa9;
  color: #2b4c3d;

.color-a {
    color: #2b4c3d;
}

.color-b {
    color: #2b4c3d;
}
  
  a {
    color: #2b4c3d;
  }
  
  input {
    background: #fff;
    color: #2b4c3d;
    border-color: #2b4c3d;
  }
  
  button {
    background: #a5baa9;
    color: #2b4c3d;
    border-color: #2b4c3d;
  }
  
  hr {
    color: #2b4c3d;
  }
  
  .gsc-control-cse {
    font-family: "Montserrat", sans-serif !important;
    background-color: #a5baa9 !important;
    border-color: #a5baa9 !important;
  }

  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: #a5baa9 !important;
    border-color: #a5baa9 !important;
  }

  .gcsc-find-more-on-google {
    color: #2b4c3d !important;
  }

  .gsc-result-info {
    color: #2b4c3d !important;
  }

  .gsc-orderby-label {
    color: #2b4c3d !important;
  }

  .gcsc-find-more-on-google-magnifier {
    fill: #2b4c3d !important;
  }

  .gs-webResult div.gs-visibleUrl {
    color: #2b4c3d !important;
  }

  .gs-webResult .gs-snippet, .gs-fileFormatType {
    color: #2b4c3d !important;
  }

  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #2b4c3d!important;
  }
}

.pumpkin {
  background: #f78820;
  color: #aa3a1f;

.color-a {
    color: #aa3a1f;
}

.color-b {
    color: #aa3a1f;
}

  a {
    color: #aa3a1f;
  }

  input {
    background: #fff;
    color: #aa3a1f;
    border-color: #aa3a1f;
  }

  button {
    background: #f78820;
    color: #aa3a1f;
    border-color: #aa3a1f;
  }

  hr {
    color: #aa3a1f;
  }

  .gsc-control-cse {
    font-family: "Montserrat", sans-serif !important;
    background-color: #f78820 !important;
    border-color: #f78820 !important;
  }

  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: #f78820 !important;
    border-color: #f78820 !important;
  }

  .gcsc-find-more-on-google {
    color: #aa3a1f !important;
  }

  .gsc-result-info {
    color: #aa3a1f !important;
  }

  .gsc-orderby-label {
    color: #aa3a1f !important;
  }

  .gcsc-find-more-on-google-magnifier {
    fill: #aa3a1f !important;
  }

  .gs-webResult div.gs-visibleUrl {
    color: #aa3a1f !important;
  }

  .gs-webResult .gs-snippet, .gs-fileFormatType {
    color: #aa3a1f !important;
  }

  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #aa3a1f !important;
  }
}

.velvet {
  background: #2e040b;
  color: #9f3645;

.color-a {
    color: #9f3645;
}

.color-b {
    color: #9f3645;
}

  a {
    color: #9f3645;
  }

  input {
    background: #fff;
    color: #9f3645;
    border-color: #9f3645;
  }

  button {
    background: #2e040b;
    color: #9f3645;
    border-color: #9f3645;
  }

  hr {
    color: #9f3645;
  }

  .gsc-control-cse {
    font-family: "Montserrat", sans-serif !important;
    background-color: #2e040b !important;
    border-color: #2e040b !important;
  }

  .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
    background-color: #2e040b !important;
    border-color: #2e040b !important;
  }

  .gcsc-find-more-on-google {
    color: #9f3645 !important;
  }

  .gsc-result-info {
    color: #9f3645 !important;
  }

  .gsc-orderby-label {
    color: #9f3645 !important;
  }

  .gcsc-find-more-on-google-magnifier {
    fill: #9f3645 !important;
  }

  .gs-webResult div.gs-visibleUrl {
    color: #9f3645 !important;
  }

  .gs-webResult .gs-snippet, .gs-fileFormatType {
    color: #9f3645 !important;
  }

  .gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #9f3645 !important;
  }
}

