body {
  background: #101010;
  color: #F3F5F7;
  font-family: 'Roboto', sans-serif;
}                                                                                                         

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item {
  width: 100;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

#pfp {
  border-radius: 50%;
}


