body {
  background: #101010;
  color: #F3F5F7;
  font-family: font-family: 'Roboto';
  
}
                                                                                                            
nav {
}

#profile {
  padding: 0%;
}

#pfp {
  border-radius: 50%;
}

.flex-row {
  display: flex;
}

.flex-item {
  width: 100;
  padding: 5px;
}


